
Debug/synergy/ssp/src/framework/tes/dave2d/subdir.mk
Debug/synergy/ssp/src/framework/sf_tes_2d_drw/subdir.mk
Debug/synergy/ssp/src/framework/sf_jpeg_decode/subdir.mk
Debug/synergy/ssp/src/framework/sf_el_gx/subdir.mk
Debug/synergy/ssp/src/driver/r_sci_spi/subdir.mk
Debug/synergy/ssp/src/driver/r_jpeg_decode/subdir.mk
Debug/synergy/ssp/src/driver/r_jpeg_common/subdir.mk
Debug/synergy/ssp/src/driver/r_ioport/subdir.mk
Debug/synergy/ssp/src/driver/r_glcd/subdir.mk
Debug/synergy/ssp/src/driver/r_fmi/subdir.mk
Debug/synergy/ssp/src/driver/r_elc/subdir.mk
Debug/synergy/ssp/src/driver/r_dtc/subdir.mk
Debug/synergy/ssp/src/driver/r_cgc/subdir.mk
Debug/synergy/ssp/src/driver/r_cgc/hw/subdir.mk
Debug/synergy/ssp/src/driver/r_adc/subdir.mk
Debug/synergy/ssp/src/bsp/mcu/s7g2/subdir.mk
Debug/synergy/ssp/src/bsp/mcu/all/subdir.mk
Debug/synergy/ssp/src/bsp/cmsis/Device/RENESAS/S7G2/Source/subdir.mk
Debug/synergy/board/s7g2_sk/subdir.mk
Debug/src/synergy_gen/subdir.mk
Debug/src/subdir.mk
Debug/src/lcd_setup/subdir.mk
Debug/src/gui/subdir.mk
Debug/sources.mk
Debug/objects.mk
Debug/makefile
.settings/language.settings.xml
.settings/e2studio_project.prefs
.settings/com.renesas.cdt.synergy.threads.configurator.prefs
.settings/com.renesas.cdt.synergy.packs.componentfiles.prefs
